{% load static %}


<head>

	<title>Neto Sarmento/Web Developer</title>

	<link href="{% static '/css/main2.css'  %}" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	

</head>

<body>

	<br>

	<div class="container">

		<div class="row">

			<div class="col-md-3">

				<div class="card card-body h-100  border-info" id="profile-wrapper">

					<img id="profile-pic" src="{% static 'img/me.png' %}" >

					<hr>

					<h4>Ola, sou Neto Sarmento!</h4>

					<p>Desenvolvedor Full-Stack em Formação.</p>

				</div>

			</div>



			<div class="col-md-9">

				<div class="card card-body h-100  border-info">

					<h4>Trabalho como Desenvolvedor.</h4>

					<hr>

					<p>Estou em formação pela IFSULMinas Tec. Desenvolvimento de Sistemas. Prevista para conclusão em
					dezembro de 2024. </p>



					<p>Fiz Cursos de Formações como CS50 de Harvard, Cursos Fron e Back-End pelo Senai, alem como cursos sobre
					Analise de dados com Google, utilizar Google Analytics entre mais formações na área.
					Atualmente na IFSULdeMinas.</p>



					<p>Alta resolução de problemas, trabalho em equipe, comunicação eficaz.</p>


                   <ul class="social-links">
                         <li><a href="https://www.instagram.com/sarmentoto?igsh=ZTBoOHAxamxjMHph" target="_blank"><img class="social" src="{% static 'img/instagram.svg' %}"></a></li>
                         <li><a href="https://www.linkedin.com/in/carlos-jorge-sarmento-neto-1689a084?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><img class="social" src="{% static 'img/linkedin.svg' %}"></a></li>
                         <li><a href="https://github.com/netosarmento" target="_blank"><img class="social" src="{% static 'img/github.svg' %}"></a></li>
                         <li><a href="https://wa.me/91920011778" target="_blank"><img class="social" src="{% static 'img/whatsapp.svg' %}"></a></li>
                    </ul>


				</div>

			</div>

		</div>

		<br>

		<div class="row">

			<div class="col-md-6">

				<div class="card card-body h-100">

					<h5>Minhas Experiências como Desenvolvedor.</h5>

					<hr>

					<p>Desenvolvedor Full stack em Formação.</p>

					<p>Projetos de Portfolio, estão no Github e Netlify:</p>
					<p>Links: <a href="https://funny-melba-f5e2be.netlify.app/"> Netlify</a><br>  
					<a href="https://venerable-crumble-814159.netlify.app/album"> Netlify</a></br>
					<a href="https://stalwart-croissant-cb695a.netlify.app/"> Netlify</a></br>
					<a href="https://github.com/netosarmento">Git Hub</a> </p>

					</div>

			</div>



			<div class="col-md-6">

				<div class="card card-body h-100">

					<h5>Conhecimentos:</h5>

					<hr>

					<p>Python, Django, HTML/CSS(Bootstrap, Formantics), JavaScript/Jquery, APIs, C, Flask, MySQL, Git, Github.
					Estrutura de Dados, Algoritimos, POO's, Lógica de Programação, Redes, Conhecimentos em Banco de Dados e práticas de seguranças
					cibernéticas.</p>

					<p>Desenvolvimento em Django e Práticas de CyberSegurança.</p>

				</div>

			</div>

		</div>

		<br>

		<div class="row">

			<div class="col-md-6">

				<div class="card card-body h-100">

					<h5>Formações:</h5>

					<hr>

					<p>IFSULdeMinas Tec. Desenvolvimento de Sistemas.</p>



					<p>Comecei minha jornada como Desenvolvedor Full Stack como auto de data, fazendo cursos livres, passado um tempo consegui entrar para IFSULdeMinas.
					.</p>

				</div>

			</div>



			<div class="col-md-6">

				<div class="card card-body h-100">

					<h5>Meus objetivos:</h5>

				<hr>

				<p>Em Formação como Desenvolvedor Full Stack, estou estudando para adquirir conhecimento e todas as certificações(ISO27002, OSCP, CAH) na áreas necessárias
				</p>

				<p>Estou desenvolvendo meu ingles, e francês, para me tornar um profissinal internacional, que possa atender todas as demandas de empresas e pessoas,
				que queiram, desenvolver web sistemas, ou simples web sites, ou fazer sistemas inteiros, para ajudar na vida das pessoas e facilitar suas vidas. 
				Entre em contato para maiores informações.</p>



				</div>

			</div>

		</div>

		<br>

	</div>





</body>